/* @import "~bootstrap/scss/bootstrap"; */

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body {
	margin: 0;
	font-family: 'Poppins', 'Raleway', sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}
