/* @import "~bootstrap/scss/bootstrap"; */

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body {
	margin: 0;
	font-family: 'Poppins', 'Raleway', sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

@media (max-width: 767px) {
	section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media (min-width: 768px) {
	section {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media (min-width: 1200px) {
	section {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}
